

@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&display=swap');


/* TAGS */

body{
  margin: 0;
  background-color: rgb(239, 220, 196);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header{
  background-color: white;
  width: 90%;
  margin: 1em auto 0;
  padding: .4em 0em;
  border-radius: 10px;
  position: relative;
  border: solid 4px rgb(111, 65, 65);
}
h1{
  text-align: center;
  font-family: Caesar Dressing;
  font-size: 2.5em;
  letter-spacing: 10px;
  margin-bottom: 15px;
}
h2{
  font-family: Aleo;
  margin: 5px auto;
}
main{
background-image: url('assets/fondoMain.jpg') ;
background-repeat: no-repeat;
background-size: 135%;
padding: 1em .4em 1em;
flex-grow: 1;
}
p{
  text-align: center;
  font-family: Aleo;
}
label{
  margin: 12px 0 5px;
  font-family: Aleo;
}
footer{
  background: linear-gradient(180deg, rgb(33, 128, 128) 0%, rgb(22, 90, 74) 100%);
  color: rgb(243, 238, 222);
  padding: .2em 0em .5em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
input[type=number]{
  width: 5em;
}
select{
  width: 2em;
}



/* DIV CONTAINERS */
.main_bis{
margin-top: -2.6em;
background-size: 145%;
background-position: top;

}
#encabezado{
  background-color: rgb(243, 238, 222);
  border-radius:10px;
  text-align: center;
  padding: .5em .2em;
  margin: 0% 3% 3%
}
.frontWrapper{
  background-color: rgb(243, 238, 222);
  border-radius: 10px;
  padding: .1em .6em;
  margin: 0% 3%;
}
#divButton{
display: flex;
flex-direction: column;
align-items: center;
}
#progressWrapper{
  margin-top: 4.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.progressBef{
  height: 1.5em;
  width: 1.5em;
  background-color: rgb(241, 239, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid 4px #67adb5 ;
  font-family: Aleo;
  padding-top: 1.5px;
  font-weight: bolder;
  color: rgb(22, 90, 74);
}
.progressAft{
  height: 1.5em;
  width: 1.5em;
  background-color:rgb(22, 90, 74);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid 4px #67adb5 ;
  font-family: Aleo;
  padding-top: 1.5px;
  font-weight: bolder;
  color: rgb(241, 239, 235);
}




/* BQUESTION BOX ANIMATION */
/* .acordeon {
    width: 88%;
    height: 47em;
    padding: 2.5em 0em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 6%;
  }
  .acordeonBox { 
    flex-basis: 10%;
    height: 100%;
    margin-bottom: 1em;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: helvetica;
    background-color: #e6f8ff;
    cursor: pointer;
    box-shadow: 2px 2px .3em #67adb5;
    transition: 
      flex-grow .8s linear,
      background-color .5s ease;
  }
  
  .acordeonBox:hover { 
      background-color: #cde9f7;
      flex-grow: 3;
    } 
    .acordeonBox:active { 
      box-shadow: 1px 1px .1em #67adb5;
      background-color: #bde6fc;
      color: white;
    }  */

.question_card{
    background-color: #67adb5;
}



/* BUTTONS */
.button{
  width: 60%;
  height: 3.6em;
  margin-top: .9em;
  font-weight: bolder;
  font-size: medium;
  letter-spacing: 3px;
  background-color: rgb(111, 65, 65);
  color: rgb(239, 220, 196);
  border-radius: 10px;
  letter-spacing: 7px;
}
.button:hover{
  box-shadow: 0 0px 13px 3px rgb(84, 82, 82);
  background-color: rgb(25, 117, 117);
  cursor: pointer;
}






.hideCard{
    display: none;
}
